.u-section-1 .u-sheet-1 {
  min-height: 1229px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 866px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 34px 0 0 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 238px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 489px;
  min-height: 122px;
  margin: 55px 43px 0 auto;
}

.u-section-1 .u-line-1 {
  transform-origin: right center;
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 5px 25px 0 0;
}

.u-section-1 .u-video-1 {
  height: 549px;
  margin-top: -28px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 233px;
  background-image: none;
  width: 859px;
  margin: -31px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -219px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1307px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -651px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-top: 63px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -411px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 1103px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 468px;
    min-height: 151px;
    height: auto;
    margin-top: 52px;
    margin-right: -66px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -611px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -451px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 1184px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -624px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -424px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1509px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1182px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 18px;
    min-height: 135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-1 {
    margin-top: -635px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -421px;
  }
}